name: Release and Publish Docker image

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release_and_publish:
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Setup Java 21
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'

      # Setup Gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # Build with Gradle
      - name: Build with Gradle
        run: ./gradlew build

      # Create GitHub Release
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: build/libs/eewbot-*.jar

      # Setup QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Login to GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Docker meta
      - name: Docker meta
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            teamfruit/eewbot
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      # Build and push Docker image
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
